
.idea/compiler.xml

.idea/encodings.xml

*.class

.idea/uiDesigner.xml

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

*.lst

target/maven-archiver/pom.properties

*.jar

target/gb-ee-mart.war
